@import url('./00_globals.css');

.perfil-container {
    color: var(--texto-cor-padrao);
    font-family: var(--texto-Style-Padrao);
    max-width: 1220px;
    margin: 0 auto;
}

.caixa-conteudo {
    margin-bottom: 20px;
    color: var(--texto-cor-padrao);
    border-radius: var(--borderRadius-padrao);
    width: 100%;
}

.foto-capa img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.info-perfil-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding: 40px 20px 20px;
    background-color: var(--backg-Sub-cor);
    border-radius: 0 0 10px 10px;
    margin-top: -50px;
    border-bottom: 1px solid #0066cc;
    border-left: 1px solid #0066cc;
    border-right: 1px solid #0066cc;
}

.esquerda-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    flex: 1;
}

.foto-perfil {
    position: absolute;
    top: -90px;
    left: 30px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
}

.foto-perfil img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-perfil {
    margin-left: 15px;
    padding-top: 20px;
}

.info-perfil h1 {
    font-size: var(--texto-Tamanho-Prin);
    margin-bottom: 5px;
    color: var(--texto-cor-padrao);
}

.info-perfil p {
    font-size: var(--texto-Tamanho-Sub);
    margin: 5px 0;
    color: var(--texto-cor-padrao);
}

.info-perfil a {
    color: var(--texto-cor-padrao);
    text-decoration: none;
    transition: var(--transicao-padrao);
}

.info-perfil a:hover {
    color: #aaa;
}

.conexoes {
    font-weight: bold;
}

.acoes-perfil {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.btn-action {
    background-color: var(--backg-Princ-cor);
    border: var(--borderSolid-padrao);
    color: var(--texto-cor-padrao);
    padding: var(--padding-padrao);
    border-radius: var(--borderRadius-padrao);
    cursor: pointer;
    font-size: var(--texto-Tamanho-Sub);
    font-weight: 500;
    transition: var(--transicao-padrao);
    text-decoration: none;
}

.btn-action:hover {
    background-color: var(--backg-Sub-cor);
    border: var(--borderSolid-padrao);
}

.linksSociais_Superior {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-top: 20px;
    min-width: 40px;
}

.linksSociais_Superior a {
    transition: opacity 0.3s ease-out;
}

.linksSociais_Superior a img {
    width: 30px;
    height: 30px;
    opacity: 0.7;
    transition: opacity 0.3s ease-out;
}

.linksSociais_Superior a:hover img {
    opacity: 1;
}