/* GERAL */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title {
  text-align: left;
}

/* ***CABEÇALHO*** */
header {
  background-color: #000000;
  color: #ff0000;
  padding: 20px;
  text-align: center;
}

nav .menu_superior {
  margin: 5px 0;
  background-color: #000000;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* ***LEMBRAR - LISTA E ITENS*** */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ***LEMBRAR - LISTA E ITENS: LINKS*** */
nav ul li a {
  color: #00bfff;
  text-decoration: none;
  text-align: center;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: #000000;
}

nav ul li.active a,
nav ul li:hover a {
  background-color: #fa1303;
  color: #ffffff;
  border-radius: 20px;
}

nav ul li.active a[href="index.html"],
nav ul li:hover a[href="index.html"] {
  background-color: #00bfff;
  color: #ffffff;
  border-radius: 20px;
}

/* ***CENTRO*** */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #080808;
  color: #333;
}

.centro3D {
  width: 100%;
  max-height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#matrix {
  width: 100%;
  height: 103%;
  border: 1px solid rgb(0, 0, 0);
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
}

.pilula-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.pilula {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 50px;
  margin: 180px;
  border-radius: 50px;
  background-color: #000000;
  color: #00bfff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 2px solid #0080a0;
}

.pilula a {
  color: #ffffff;
  text-decoration: none;
}

.pilula p {
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

.pilula a.active,
.pilula a:hover {
  width: 300px;
  height: 50px;
  background-color: #ff0000;
  color: #ffffff;
  border-radius: 50px;
  border: 2px solid #ff0000;
}

.pilula a[href="index.html"]:hover {
  background-color: #00bfff;
  color: #ffffff;
  border-radius: 50px;
  border: 2px solid #0080a0;
}

/* **RODAPÉ*** */
footer {
  background-color: #000000;
  color: #00bfff;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-media a {
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  background-color: #000000;
  color: #00bfff;
  padding: 5px;
  margin: 0 5px;
}

.social-media p {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  background-color: #000000;
  color: #00bfff;
  padding: 5px;
  margin: 0 5px;
  margin-left: auto;
  justify-content: right;
}

.rodape .icon_reds img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 50%;
  /* arredonda completamente os ícones */
}

.icon_reds {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  width: 65px;
  height: 65px;
}

/*SOBRE.html*/

.Sobre,
.Contato,
.Redes_Sociais {
  font-family: Arial, sans-serif;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
  background-color: #000000;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.centro3D_sb {
  width: 100%;
  height: 900px;
  max-height: calc(100vh - 100px);
  /* altura máxima ajustada para 100vh - 100px (altura do rodapé + espaço de margem) */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* adicionado para permitir sobreposição */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel {
  position: relative;
}

.menu_movies {
  width: 20%;
  margin-left: 50px; /* ajuste a margem esquerda para separar a div do carrossel */
}

.carousel-inner {
  flex: 1;
  position: relative;
  width: 100%;
  overflow: hidden;
  opacity: 50%;
}

#carouselExampleIndicators {
  width: 100%;
  height: 100%;
  /*PARTE DO FUNDO DA DIV MOVIE*/
  background-color: #000000;
}

.netflix-effect {
  display: flex;
  overflow: hidden;
  padding: 0 20px;
  margin: 45px auto;
  width: 90%;
  max-width: 1000px;
  box-sizing: border-box;
}

.movie-carousel {
  display: flex;
  overflow: hidden;
  position: relative;
}

.movie-wrapper {
  display: flex;
  position: absolute;
  transition: transform 10s ease-in-out;
}

.movie {
  flex-direction: column;
  justify-content: center;
  width: 810px;
  height: 815px;
  margin-top: 37.5px;
  margin-left: 150px;
  /*PARTE DO FUNDO DA DIV MOVIE*/
  background-color: #000000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  box-sizing: border-box;
}

.movie h2 {
  color: #ff0000;
  text-decoration: underline;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.carousel-control-prev {
  position: relative;
  margin-left: 85px;
  margin-top: 800px;
}

.carousel-control-next {
  position: relative;
  margin-right: 85px;
  margin-top: 800px;
}

.carousel-item.active {
  color: #ffffff;
}

.carousel-control-prev-icon {
  margin-left: 0px;
}

.carousel-control-next-icon {
  margin-right: 0px;
}

#carouselExampleIndicators .befactive {
  background-color: #00bfff;
}

#carouselExampleIndicators .befactive.active {
  background-color: #ff0000;
}

/*Contato*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="url"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}

input[type="checkbox"] {
  margin-left: 5px;
  margin-top: 10px;
}

button[type="submit"] {
  background-color: #00bfff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff0000;
}
