/* Estilos padrão para todos os tamanhos de tela */

/* Estilos para telas menores que 768px (como celulares) */
@media screen and (max-width: 767px) {
  /* Aqui você pode definir estilos específicos para telas menores */
}

/* Estilos para telas entre 768px e 1024px (como tablets) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Aqui você pode definir estilos específicos para telas de tamanho médio */
}

/* Estilos para telas maiores que 1024px (como desktops) */
@media screen and (min-width: 1025px) {
  /* Aqui você pode definir estilos específicos para telas maiores */
}


/* Estilo para o fundo preto */
body {
  background-color: black;
  margin: 0;
  padding: 0;
}

/* Estilo para as palavras em branco */
.white {
  color: white;
}

/* Estilo para o container */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo para o botão */
.button {
  width: 150px; /* Defina aqui a largura que desejar */
  text-decoration: none;
  display: block;
  background-color: #ff0000;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  font-size: 16px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  margin: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-family: Arial, sans-serif;
}

/* Estilo para links visitados */
a:visited {
  color: inherit;
  text-decoration: none;
}

/* Efeito de hover para o botão */
.button:hover {
  background-color: #820900;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* Estilo para o botão secundário */
.button2 {
  background-color: #00c8ff;
  text-decoration: none;
}

/* Efeito de hover para o botão secundário */
.button2:hover {
  background-color: #006682;
  transform: translateY(-7px);
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* Estilo para desativar clique */
.no-click {
  pointer-events: none;
  text-decoration: none;
}

/* Estilo para o elemento de fundo de matriz */
#matrix {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.matrix-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}

.matrix-text {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  font-size: 2vw;
  line-height: 2vw;
  font-family: monospace;
  color: #00FF00;
  text-shadow: 0px 0px 10px #00FF00;
}

img#rede-social {
  width: 60px;
  height: 100px;
  position: absolute;
  left: 55%;
  top: 49%;
  transform: translate(-50%, -50%);
}

/* Estilo para a imagem
img#whats {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 100px;
  height: 100px;
  z-index: 9999;
} */
