
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}

body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/* Começo do style da parte esquerda. */

.container .left-Side{
    position: relative;
    background: #003147;
    padding: 40px;
}

.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius:50%;
    overflow: hidden;
}

.profileText .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2{
    color: #fff;font-size: 1.5em;
    margin-top:20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    line-height: 1.8em;
}

.profileText h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.contactInfo {
    padding-top: 40px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul{
   position: relative; 
}

.contactInfo ul li{ 
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactInfo ul li .icon{ 
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}

.contactInfo ul li span{ 
    color: #fff;
    font-weight: 300;
}

.contactInfo.education li{
    margin-bottom:15px;
}

.contactInfo.education h5{
    color: #03a9f4;
    font-weight: 500;
}

.contactInfo.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;
}

.contactInfo.education h4{
    color: #fff;
    font-weight: 300;
}

.contactInfo.linguagem .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}

.contactInfo.linguagem .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
    
}

/* Fim do style da parte esquerda. */

/* Começo do style da parte direita. */

.container .right-Side{
    position: relative;
    background: #fff;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}

.about:last-child{
    margin-bottom: 0;
}

.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

p{
    color: #333;
    font-size: 17px;
    line-height: 1.5rem;
}
.exp-prof {
    width: 100%;
    overflow: hidden;
    /* Limpa o float */
}

img {
    float: left;
    /* Posiciona a imagem à esquerda */
    margin-right: 10px;
    /* Adapte a margem conforme necessário */
    margin-top: 15px;
    width: 60px;
    border-radius: 50px;
}

.text {
    overflow: hidden;
    /* Limpa o float */
}

h3,
p {
    margin: 0;
    /* Remove as margens padrão */
}
.text p span{
    text-transform: uppercase;
    /* color: #03a9f4; */
    font-weight: 500;
    font-size: 13px;
}
  
.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .tempo{
    min-width: 150px;
}

.about .box .tempo h5{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}

.about .box .text h4{
    text-transform: uppercase;
    color: #003147;
    font-size: 16px;
}

.about .box .text span{
    text-transform: uppercase;
    color: #03a9f4;
    /* font-size: 16px; */
}

.skills .box{
    position: relative;
    width: 100%;
    /* display: grid; */
    /* grid-template-columns: 150px 1fr; */
    /* justify-content:center; */
    /* align-items:center; */
}

.skills .box p span{
    text-transform: uppercase;
    color: #03a9f4;
    font-weight: 500;
}


/* Fim do style da parte direita. */
/* CSS Tabela */
/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Estilo para as células de cabeçalho */
th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Estilo para as células de dados */
td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
}

/* Estilo para as linhas ímpares */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilo para as linhas ao passar o mouse */
tr:hover {
    background-color: #ddd;
}
