.footer {
  background: #000000;
}
.footer-container {
  max-width: 75rem;
  padding: 7.5rem 1.25rem 3.75rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-items: center;
}
.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}
.footer-contato {
  text-align: right;
  justify-self: end;
}
.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffff;
  margin-bottom: 1.875rem;
}
.footer-contato li img {
  display: inline-block;
  text-align: right;
}
.footer-contato li a {
  text-decoration: none;
  color: #ffffff;
}
.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  padding: 5px 0px;
}
.footer-grid {
  display: flex;
  flex-wrap: wrap;
}
.footer-logo {
  padding-right: 5px;
}
@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
