.formacao {
  background: #141414;
  color: #ffffff;
}
.formacao-container {
  max-width: 75rem;
  padding: 7.5rem 1.25rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25rem;
  position: relative;
}
.formacao-container::after {
  content: "";
  display: block;
  width: 8.125rem;
  height: 6.25rem;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  bottom: -3.125rem;
  left: 1.25rem;
}
.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
}
.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 3.75rem;
  color: #a3a3a3;
}
.formacao-texto strong {
  color: #ffffff;
}
.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-bottom: 3.75rem;
}
.faculdade {
  flex: 1;
  background: #000000;
  padding: 1.25rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}
.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 0.625rem;
}
.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 2.5rem;
  position: relative;
}
.faculdade-curso::before {
  content: "";
  display: block;
  width: 0.25rem;
  height: 1.25rem;
  background: linear-gradient(180deg, #dc0f01 0%, #a50d02 100%);
  position: absolute;
  left: -1.5rem;
}
.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
  text-transform: uppercase;
}
.cursos {
  margin-bottom: 3.75rem;
}
.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  position: relative;
}
.formacao-extra h3::before {
  display: block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: -2rem;
  top: -0.25rem;
}
.cursos h3::before {
  background: url(../img/cursos.svg) no-repeat center center;
}
.idiomas h3::before {
  background: url(../img/idiomas.svg) no-repeat center center;
}
.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.25rem;
}
.formacao-extra span {
  color: #8f8f8f;
}
.cursos li {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 3.75rem 1.25rem;
    gap: 2.5rem;
  }
  .formacao .subtitulo {
    color: #ffffff;
  }
  .formacao-texto {
    font-size: 1.125rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 0.625rem;
  }
}
